.hero-header{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    background-color: #FBEBB5;
    overflow: hidden;
}

.hero-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero-text {
    flex: 1;
    max-width: 400px;
    margin-right: 80px;
}



.heading {
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

/* "Shop Now" Button */
.shop-now {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    position: relative;
}
.shop-now::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
}

/* Right Image */
.hero-image {
    width: 50%;
    display: flex;

    
}

.hero-image img {
    width: 100%;
    width: 850px;
    object-fit: cover;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.2));
}