.dashboard-container{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f8fafc;
  border: 3px solid blue;

}

.dashboard-sidebar{
  width: 240px;
  background-color: #2c3e50;
  color: #fff;
  height: 100vh;
  
  
}

.dashboard-right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*overflow: hidden;*/
}

.dashboard-header{
  height: 60px;
  background-color: #34495e;
  color: #fff;
  
  /*display: flex;
  align-items: center;
  padding: 0 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content{
  flex-grow: 1;
  padding: 20px;
  
  background-color: #f4f6f8;
}
