.header{
  background-color:#fff ;
  border-bottom: 1px solid #ddd;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  top: 0;

}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container{
  position: relative;
  
}
.search-icon{
  position: absolute;
  top: 50%;
  left: 0.75rem;
  color: #000;
  transform: translateY(-50%);
  font: 1rem;
}
.search-input{
  padding: 0.5rem 0.75rem 0.5rem 2rem;
  width: 24rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon-button{
  background: none;
  border: none;
  cursor: pointer;
}
.icon{
  font-size: 1.25rem;
}
.avatar-dropdown{
  position: relative;
}
.avatar-button{
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 2.5rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 14rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.dropdown-header {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
}

.name {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #666;
}

.email {
  font-size: 0.75rem;
  color: #666;
}

.dropdown-list {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.dropdown-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f9f9f9;
}

/*


.avatar-dropdown {
  position: relative;
}

.avatar-button {
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 2.5rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 14rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.dropdown-header {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
}

.name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.email {
  font-size: 0.75rem;
  color: #666;
}

.dropdown-list {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.dropdown-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f9f9f9;
}
*/