.product-management{
  border: 2px solid green;
  padding: 20px;
}
.product-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-details{
  margin-bottom:1rem ;
}
.header-title{
  font-size: 2.50rem;
  color: #000;
}

.header-subtitle{
  font-size: 1.25rem;
  color: #666;
}

.product-btn{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/** Buttons styling **/
.btn{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.btn-outline{
  border: 1px solid #007bff;
  color: #007bff;
  background-color: transparent;
}

.btn-primary{
  background-color: #007bff;
  color: #fff;
}

/** Stats Card Styling **/
.stats-cards{
  display: grid;
  grid-template-columns:repeat(5, minmax(0, 1fr)) ;
  gap: 1rem;
}
.card{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1 );
  padding: 1rem;
  margin-bottom: 1rem;
}
.card-header{
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card-value{
  font-size: 1.5rem;
  font-weight: bold;
}

.card-subtext{
  font-size: 1rem;
  color: #666;
}

.card-content{
  background-color: #fff;
  border: 1px solid purple;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1 );
  padding: 1rem;
  margin-bottom: 1rem;
}

.card-title{
  font-size: 2.00rem;
  color: #000;
}

.card-description{
  font-size: 1.25rem;
  color: #666;
}
.content-header{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.input{
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  /* max-width: 200px; */
}